/* * { */
/*     background-color: red; */
/* } */

.main-panel {
    display: flex;
    justify-content: center;
    height: 0;
}


.right-panel-route {

    
}

.app-root {
    display: flex;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.panels-root {
    background-color: blue;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
}

.main-panel {
    background-color: purple;
    flex-grow: 1;
}

.bottom-panel {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: center;
}
.bottom-panel > div {
    max-width: 150px;
}
.bottom-panel img {
    width:100%;
}
.routes-root {
    background-color: red;
    /* width: 100px; */
    display:flex;
}

.all-route-info {
    background-color: pink;
    flex-grow: 1;
}

.route-info {
    background-color: violet;
    flex-grow: 1;
}

.panel-hold-container {
    position:relative;
}

.hold {
    position:absolute;
    width:20px;
    height:20px;
    border: 2px solid black;
    border-radius: 20px;
}

.tool {
    background:lightgrey;    
}
.tool.selected {
    background:white;    
}
